#list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  #list {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
  }
}

@media (max-width: 480px) {
  #list {
    grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
  }
}

.pokemon-card {
  position: relative;
  text-align: center;
  border-radius: 10px; /* Para darle bordes redondeados a las cartas */
  background-color: #222; /* Fondo oscuro en la tarjeta */
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para darle más dimensión */
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}

.pokemon-card p,
.pokemon-card h2 {
  margin: 10px 0;
}

.button {
  border: 2px solid #09f;
  color: #fff;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.2s ease-in;
  position: relative; /* Para alinear el corazón */
  background-color: #FF4500; /* Color de fondo principal */
}

.button:hover {
  background-color: #EF5350; /* Color de fondo cuando se pasa el cursor */
}

.favorite-button {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%); /* Centrar verticalmente el ícono */
  font-size: 2rem;
  color: #ccc; /* Color base para el corazón */
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 2;
}

.favorite-button.favorite {
  color: #FF6347; /* Corazón rojo cuando es favorito */
  transform: scale(1.2); /* Aumentar el tamaño del corazón cuando es favorito */
}

.favorite-button:hover {
  color: #FF4500; /* Color cuando se pasa el cursor sobre el corazón */
  transform: scale(1.4); /* Efecto de aumento cuando se pasa el cursor */
}

.button .favorite-button {
  z-index: 1; /* Asegura que el corazón esté sobre el botón */
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.pagination a {
  color: #fff;
  cursor: pointer;
}

.pagination .current-page {
  font-weight: bold;
}
