/* Estilo global del Header */
header {
  background-color: #212121; /* Fondo oscuro */
  padding: 20px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* Estilo de los enlaces de navegación */
nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 0.75;
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out, color 0.3s ease-in-out;
  padding: 5px 10px;
  border-radius: 8px;
}

nav a:hover {
  opacity: 1;
  transform: scale(1.1); /* Efecto de zoom */
  color: #FF4500; /* Naranja vibrante */
}

nav a span {
  margin-top: 5px;
  font-size: 0.9rem;
  text-transform: uppercase; /* Texto en mayúsculas */
}

/* Estilo para el enlace seleccionado */
nav a.select {
  color: #FF4500; /* Color para el enlace seleccionado */
  border: 2px solid #FF4500; /* Borde alrededor del enlace seleccionado */
  padding: 8px 12px;
  background-color: rgba(255, 69, 0, 0.1); /* Fondo sutil para el enlace seleccionado */
}

/* Estilo para los iconos */
nav a svg {
  font-size: 1.8rem;
  transition: transform 0.3s ease-in-out;
}

/* Aumentar el tamaño del icono al hacer hover */
nav a:hover svg {
  transform: scale(1.2);
}

/* Estilo responsivo */
@media (max-width: 768px) {
  nav {
    flex-direction: column; /* Coloca los elementos de manera vertical en pantallas pequeñas */
    gap: 1.5rem;
  }

  nav a {
    font-size: 1rem; /* Reduce el tamaño de la fuente en móviles */
    padding: 8px 0;
  }

  nav a svg {
    font-size: 1.5rem; /* Ajuste del tamaño del icono en móviles */
  }
}

  